.navbar{
  background-color: rgb(0,0,0);
  border-radius: 30px;
}

.navbar ul{
  overflow: auto;
}

.navbar li{
  float: left;
  list-style: none;
  margin: 13px 20px;
}

.navbar li a{
  padding: 3px 3px;
  text-decoration: none;
  color: white;
}
.navbar li a:hover{
  background-color: red;
}
.search{
  float: right;
  color: white;
  padding: 13px 75px;
}

.navbar input{
  border: 2px solid black;
  border-radius: 7px;
  width: 151px;
  padding: 3px 17px;
}